---
const { post } = Astro.props;
---

<div class="p-4 md:w-1/3 sm:mb-0 mb-6">
  <h2
    class="text-xl font-bold title-font text-gray-900 mt-5"
    set:html={post.title.rendered}
  />
  <p>Created Date: {post.date.split("T")[0]}</p>
  <p class="text-base leading-relaxed mt-2" set:html={post.excerpt.rendered} />
  <a class="text-indigo-500 inline-flex items-center mt-3" href={post.id}>
    Read More
    <svg
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      class="w-4 h-4 ml-2"
      viewBox="0 0 24 24"
    >
      <path d="M5 12h14M12 5l7 7-7 7"></path>
    </svg>
  </a>
</div>
